
body {
    background-color: #ffc9f3;
    font-family: 'Arial', sans-serif;
}


h1.text-center {
    color: #000000; 
    margin-top: 20px;
}

.carousel {
    margin: 20px 0;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 400px; 
}


.card {
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

.card img {
    max-height: 200px; 
    object-fit: cover; 
}


form {
    background-color: #ff80bf;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1); 
}


.btn-info {
    background-color: #d7a4ff; 
    border-color: #d7a4ff; 
}

.btn-info:hover {
    background-color: #dc85a9; 
}


.btn-info + .btn-info {
    margin-left: 10px;
}
.btn-custom {
    background-color: #da94f2;
    color: #ffffff; 
    border: none;
}

.btn-custom:hover {
    background-color: #d7a4ff; 
    color: #ffffff;
}


.list-group-item a {
    text-decoration: none;
    color: #007bff;
}

.list-group-item a:hover {
    text-decoration: underline;
}

